.footer-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: max-content;
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.601);
    color: #fff;
  }
  
  .footer-text {
    font-size: 14px;
    color: black;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  