
  <mat-toolbar class="toolbar">
    <span class="title">Dashboard</span>
    <span class="spacer"></span>
    <!-- <mat-form-field appearance="outline" class="select-field">
      <mat-select [(value)]="selectedValue">
        <mat-option value="TBDP">TBDP</mat-option>
        <mat-option value="Toyota">Toyota</mat-option> -->
        <!-- Add more options as needed -->
      <!-- </mat-select>
    </mat-form-field> -->
  </mat-toolbar>
  
  
  <mat-card class="dashboard-container">
    
    <div class="card-row">
      <mat-card class="dashboard-item">
        <p class="dom">Domain</p>
        <p>120</p>
      </mat-card>
      <mat-card class="dashboard-item">
        <p class="dom">AD Group</p>
        <p>009</p>
      </mat-card>
      <mat-card class="dashboard-item">
        <p class="dom">Schema</p>
        <p>100</p>
      </mat-card>
      <mat-card class="dashboard-item">
        <p class="dom">Table</p>
        <p>1120</p>
      </mat-card>
    </div>
  </mat-card>
  
  <!-- <mat-card class="filter-card">
    <h2>Filter from the list or type to search in filters</h2>
    <div class="filter-container">
      <mat-form-field>
        <mat-label>Domain</mat-label>
        <mat-select>
          <mat-option>Option 1</mat-option>
          <mat-option>Option 2</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>AD Group</mat-label>
        <mat-select>
          <mat-option>Option 1</mat-option>
          <mat-option>Option 2</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button class="audit-btn1">Send Audit Request</button>
      <button mat-raised-button>Search</button>
    </div>
  </mat-card>
  
  <mat-card class="search-result-card">
    <h2>Search result based on Domain and AD Group selection</h2>
    <div class="search-result-container">
      <mat-form-field>
        <mat-label>Schema</mat-label>
        <mat-select>
          <mat-option>Option 1</mat-option>
          <mat-option>Option 2</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Table</mat-label>
        <mat-select>
          <mat-option>Option 1</mat-option>
          <mat-option>Option 2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <div class="result-grid">
      Grid populate with User Info
    </div>
  
    <button mat-raised-button class="audit-btn">Send Audit Request</button>
  </mat-card> -->
  