<mat-toolbar  class="header-toolbar">
    <div class="logo-container">
      <img src="https://banner2.cleanpng.com/20180820/tl/98d2589ef1a427ad3211459d66121a22.webp" class="logo" alt="Toyota Logo">
      <span>TOYOTA DATA INTEGRATION PLATFORM</span>
    </div>
  
    <div class="nav-links">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      <a class="nav-link" [routerLink]="['/reports']" routerLinkActive="active">Reports</a>
    </div>
  
    <div class="user-info">
      <mat-icon>account_circle</mat-icon>
      <span class="user-name">John Doe</span>
      <mat-icon>expand_more</mat-icon>

    </div>
  </mat-toolbar>
